
__pycache__/
*.py[cod]
*$py.class

*.log
*.pot
*.pyc
*.pyo
*.mo
*.sqlite3
db.sqlite3
media/
staticfiles/
static/

.env
*.env

venv/
env/
ENV/
.venv/
.pyenv/

.idea/
.vscode/
*.iml

*.so
*.dll
*.dylib


**/migrations/*
!**/migrations/__init__.py


*.log
*.out
*.pid
*.gz
*.dump


*.DS_Store
*.swp


.mypy_cache/

.ruff_cache/
.cache/

docker-compose.override.yml

*.code-workspace
